<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
    <img class="logo" src="../assets/loading.gif" *ngIf="isReady == false"/>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="my-card card" no-padding *ngFor="let post of posts">
      <div (click)="pushDetail(post.id)">
      <img [src]="post?.image" *ngIf="post?.image"/>
      
      <ion-card-content style="margin: 0px; padding: 0px;">
        <ion-card-title style="font-size:20px; line-height: 1.5; margin: 0px; padding: 5px;" text-wrap [innerHtml]="post.title">
        </ion-card-title>
      </ion-card-content>
    </div>
    
    <ion-row no-padding>
      <ion-col text-left style="margin: 0px; padding: 0px;">
        <button ion-button clear large (click)="copy(post)">
          <ion-icon name='md-copy'></ion-icon>
        </button>
      </ion-col>
      <ion-col text-center style="margin: 0px; padding: 0px;">
        <button ion-button clear large (click)="save(post)">
          <ion-icon name='{{post?.is_saved == true ? "ios-bookmark" : "ios-bookmark-outline"}}'></ion-icon>
        </button>
      </ion-col>
      <ion-col text-right style="margin: 0px; padding: 0px;">
        <button ion-button clear large (click)="shareFacebook(post)">
          <ion-icon name='logo-facebook'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="រង់ចាំពត៌មានបន្ថែម...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
