

<ion-header>
  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{post?.title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<img [src]="post?.image" *ngIf="post?.image" (click)="openImage(post?.image)"/>

	
		<div class="title" style="font-size:20px; line-height: 1.5;" [innerHtml]="post?.title"></div>
		<ion-row no-padding>
	      <ion-col text-left style="margin: 0px; padding: 0px;">
	        <button ion-button clear large (click)="copy(post)">
	          <ion-icon name='md-copy'></ion-icon>
	        </button>
	      </ion-col>
	      <ion-col text-center style="margin: 0px; padding: 0px;">
	        <button ion-button clear large (click)="save(post)">
	          <ion-icon name='{{post?.is_saved ? "ios-bookmark" : "ios-bookmark-outline"}}'></ion-icon>
	        </button>
	      </ion-col>
	      <ion-col text-right style="margin: 0px; padding: 0px;">
	        <button ion-button clear large (click)="shareFacebook(post)">
	          <ion-icon name='logo-facebook'></ion-icon>
	        </button>
	      </ion-col>
	    </ion-row>
	    
	    <p style="font-size:18px" class="content" *ngFor="let a of post?.audios">
			<span [innerHtml]="a"></span>
		</p>

		 <p style="font-size:18px" class="content" *ngFor="let ia of post?.iframeAudios">
			<span [innerHtml]="ia"></span>
		</p>

		<p style="font-size:18px" class="content" *ngFor="let p of post?.contents">
			{{p}}
		</p>

		<img [src]="img" *ngFor="let img of post?.imgs" (click)="openImage(img)" />

		
		<div class="card" *ngFor="let iframe of post?.iframes">
            <ion-item no-lines>
                <div class="video-container" overflow-scroll="true">
                    <div class="content" [innerHtml]="iframe | safeHtml"></div>
                </div>
            </ion-item>
        </div>
        
        <p style="font-size:14px; font-weight: bold" >
    		ប្រភព៖ <span [innerHtml]="post?.category"></span>
    	</p>
        
        <p style="font-size:14px;" (click)="openBrowser(post?.source_link)">
        	Link: <span style="text-decoration: underline; color: blue;" class="link"  color="primary" >{{post?.source_link}}</span>
        </p>
		<br>
		<br>
		<br>
	

	<ion-fab right bottom>
		<button ion-fab color="primary" (click)="goBack()"><ion-icon name="md-arrow-round-back"></ion-icon></button>
  </ion-fab>
</ion-content>
